{% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>About Us</h2>
      <p>
        We are a group of passionate computer engineering students from Indus
        University who share a common love for technology and innovation. Our
        team consists of:
      </p>

      <ul>
        <li>
          <strong>Om Patel:</strong> Computer engineering enthusiast, technology
          explorer, and creative thinker.
        </li>
        <li>
          <strong>Abhinav Rawat:</strong> Dedicated to pushing the boundaries of
          technology and solving complex problems.
        </li>
      </ul>

      <p>
        As part of our final semester in graduation, we embarked on an exciting
        journey to create this new article project. Our goal is to share our
        knowledge and insights about the ever-evolving world of technology.
      </p>

      <p>
        With a passion for learning and a commitment to excellence, we aim to
        provide informative and engaging articles that cover a wide range of
        topics from history to tech.
      </p>

      <p>
        If you have any questions, suggestions, or just want to connect with us,
        please feel free to reach out via email:
      </p>

      <ul>
        <li><strong>Om Patel:</strong> ompatel5044@gmail.com</li>
      </ul>
    </div>
  </div>
</div>

<hr />

{% include "footer.html" %}
